html , body {
    height: 100% ;
     padding: 0px;
     margin: 0px;
     border: hotpink;
     font-family: 'lora' , 'serif';
     display:flex; 
     flex-direction:column; 
     position: relative;
    
}









