<!DOCTYPE html>
<html>
<head>
	<title>Creation de compte</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/share_icon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>   

<body style="background-color: grey;">

    <br><br><main role="main" class="container">
        <div class="jumbotron">
          <h1>Partage des informations</h1>
          <p class="lead">Cette espace vous premet de partager le lien vers le site vers les réseaux sociaux.</p>

        <div class="container">
            <div class="share-button sharer" style="display: block;">                
                <div class="social top center networks-5">
                    <a class="fa fa-facebook" href="https://www.facebook.com/dialog/feed?&app_id=APP_ID&link=http://localhost:3000/&display=popup&quote=TEXT&hashtag=#HASHTAG"></a>
                    <a class="fa fa-google-plus" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=youremail@gmail.com&body=http://localhost:3000/"></a>
                    <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=title&amp;url=http://localhost:3000/&amp;via=creativedevs"></a>
                    <a class="fa fa-pinterest" href="http://pinterest.com/pin/create/button/?url=http://localhost:3000/&amp;description=data&amp;media=image"></a>
                    <a class="fa fa-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://localhost:3000/&amp;title=title&amp;source=http://localhost:3000//"></a>
                </div>
            </div>
        </div>

        </div>
      </main>




    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>